// colors
$blue: #31b1ff;
$lightblue: rgb(233, 249, 255);
$cyan: #2bbbec;
$purple: #6f42c1;
$indigo: #6610f2;
$green: #14d064;
$pink: #e83e8c;
$red: #ec4e7a;
$orange: #fd7e14;
$yellow: #f4cc51;
$white: #fff;
$gray: #6c757d;
$gray-dark: #1f262e;
$dracula: #282a36;


// bootstrap
$primary: #31b1ff;
$secondary: #6c757d;
$success: #14d064;
$info: #2bbbec;
$warning: #f4cc51;
$danger: #ec4e7a;
$light: #e9f9ff;
$dark: #1f262e;

// sizes
$f-s: 0.8em;
$f-m: 1em;
$f-l: 1.4em;
